
{% extends "base.html" %}

{% block content %}
  <h1>
    {% if subject %}
      {{ subject.title }} courses
    {% endif %}
  </h1>

  <!-- categories section -->
	
		<div class="container">
			<div class="section-title">
				<h2>Subjects Categories</h2>
			</div>
 <!-- <div class="contents">
    <h3>Subjects</h3> -->

    <div class="row">
      <!-- categorie -->
      {% for s in subjects %}
        <div class="col-lg-3 col-md-4">
          <div class="categorie-item">
          <div class="ci-text">
              <h5>
                  <a href="{% url "course_list_subject" s.slug %}">
                    {{ s.title }}
                    <br><span>{{ s.total_courses }} courses</span>
                  </a>
              </h5>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
   
  
  
    {% for course in courses %}
      {% with subject=course.subject %}
     
        <div class="categorie-item">
          <ul class="course-filter controls">
            <li class="control active" data-filter="all">
                <a href="{% url "course_detail" course.slug %}">
                  <h2>{{ course.title }}</h2>
                </a>
                <p><h5>
                  <a href="{% url "course_list_subject" subject.slug %}">{{ subject }}</a>.
                    {{ course.total_modules }} modules.
                   <br> Instructor:  {{ course.owner.get_full_name }}</h5>                   
                </p>
                {% endwith %}
            </li>
          </ul>
        </div>
   
    {% endfor %}
  </div>
{% endblock %}
